* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --text: 1.5rem;
    --head: calc(1rem + 5vw);
    --bg-color: #f6b93b;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(105, 41, 41, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo h2 {
    color: #fff;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
  }
  
  .navbar ul li {
    margin-left: 30px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    color: #ffc107;
  }
  .hero-text {
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-text a:hover {
    opacity: 0.8;
  }
  
  .hero-text h2 {
    font-size: 90px;
  }
  
  .hero-text p {
    font-size: 3rem;
  }
  section {
    padding: 80px 20px;
    text-align: center;
  }
  .hero-section {
    min-height: 100vh;
   background: url("image.23..png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    animation: slide 1s ease-in-out;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .btns{
    background-color: white;
    
  }
  .menu-section {
    background-color: #c49090;
  }
  
  .menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .menu-item {
    width: 300px;
    margin: 20px;
    background-color: #d5c9c99e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .menu-item h3 {
    font-size: 20px;
    padding: 10px;
  }
  
  .menu-item p {
    padding: 0 10px 10px;
    color: #666;
  }
  
  .menu-item .price {
    display: block;
    background-color: #ff6347;
    color: #fff;
    padding: 8px;
    text-align: right;
    font-weight: bold;
  }
  
  .about-section {
    width: 100%;
    height: 400px;
    background-color: rgb(122, 182, 104);
    
  }
  
  .about-section p {
    max-width: 900px;
    margin: 0 auto;
   
    }
    .contact-section{
      background-color: white;
    }
    