* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50; /* Dark blue background */
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 29rem;
    width: 22rem;
    border-radius: 1rem;
    background-color: #34495e; /* Dark grayish blue */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.screen-container {
    height: 5rem;
    width: 21rem;
    border-radius: 0.5rem;
    background-color: #2c3e50; /* Dark blue background */
    box-shadow: 6px 6px 12px #34495e,
    -6px -6px 12px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.screen {
    width: 20rem;
    height: 4rem;
    background-color: #34495e; /* Dark grayish blue */
    box-shadow: inset 7px 7px 15px #2c3e50,
    inset -7px -7px 15px #3d5168;
}

.calculator-display {
    padding-top: 19px;
    width: 100%;
    height: 79%;
    border-radius: 0.5rem;
    color: #ffffff; /* White text */
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    box-sizing: border-box;
    text-align: right;
    justify-content: flex-end;
    padding-right: 10px;
}

.btn-container {
    width: 20rem;
    height: 22rem;
    display: flex;
    padding: 10px;
    flex-direction: row;
    background-color: #34495e; /* Dark grayish blue */
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.3rem;
    color: #ffffff; /* White text */
    background-color: #2c3e50; /* Dark blue background */
    box-shadow: 5px 5px 10px #34495e,
    -5px -5px 10px #3d5168;
    border-radius: 20%;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #1e272e; /* Darker blue background on hover */
    color: #ffffff; /* White text on hover */
    transform: scale(1.1);
    box-shadow: 0px 0px 8px #1e1e1e;
}

#equal {
    width: 8rem;
    border-radius: 15px;
}

#Clear, #equal, #DEL {
    background-color: #e74c3c; /* Red */
    box-shadow: 0px 0px 4px #c0392b;
}

#Clear:hover, #equal:hover, #DEL:hover {
    background-color: #c0392b; /* Darker red on hover */
    color: #ffffff; /* White text on hover */
    box-shadow: 0px 0px 4px #c0392b;
}

#percent, #add, #minus, #multiply, #divide {
    background-color: #27ae60; /* Green */
    box-shadow: 0px 0px 4px #2ecc71;
}

#percent:hover, #add:hover, #minus:hover, #multiply:hover, #divide:hover {
    background-color: #1e8449; /* Darker green on hover */
    color: #ffffff; /* White text on hover */
    box-shadow: 0px 0px 4px #1e8449;
}